.MainPage {
  background-color: rgb(103, 195, 195);
  height: 1070px;
  color: rgb(109, 79, 79);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.H1 {
  text-align: center;
  color: white;
}
.Board {
  display: grid;
  position: relative;
  gap: 2px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
}

.Tile {
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: hsl(189, 59%, 46%);
  font-size: 30px;
}

.Tile:hover {
  background-color: white;
}

.X-hover:hover::after {
  content: "x";
  color: black;
  opacity: 0.3;
}

.O-hover:hover::after {
  content: "o";
  opacity: 0.3;
  color: black;
}

.row1 {
  position: absolute;
  background-color: rgb(129, 78, 78);
  top: 17%;
  height: 4px;
  width: 100%;
}

.row2 {
  position: absolute;
  background-color: rgb(129, 78, 78);
  top: 51%;
  height: 4px;
  width: 100%;
}

.row3 {
  position: absolute;
  background-color: rgb(129, 78, 78);
  top: 84%;
  height: 4px;
  width: 100%;
}

.col1 {
  position: absolute;
  background-color: rgb(129, 78, 78);
  left: 16%;
  height: 100%;
  width: 3px;
}

.col2 {
  position: absolute;
  background-color: rgb(129, 78, 78);
  left: 50%;
  height: 100%;
  width: 3px;
}

.col3 {
  position: absolute;
  background-color: rgb(129, 78, 78);
  left: 83%;
  height: 100%;
  width: 3px;
}

.rightDia{
  position: absolute;
  height: 3px;
  width:90%;
  top:50%;
  left:5%;
 transform: skewY(45deg);
  background-color: rgb(129, 78, 78);

}

.leftDia{
  position: absolute;
  height: 3px;
  width:90%;
  top:50%;
  left:5%;
  transform: skewY(-45deg);
  background-color: rgb(129, 78, 78);

}

.Reset{
  height: 75px;
  width: 400px;
  margin-top: 50px;
  border-radius: 10px;
  font-size:x-large;
  font-weight: bolder;
  background-color:darkseagreen;
  color: aliceblue;
}

